@import "bootstrap";

body {
  color: #fff;
}

.event {
  margin-top: 20px;
  padding-left: 0px;
  background-color: #428bca;
  border-radius: 5px;
}

.event h4, .event b, .event p {
  padding-left: 10px;
}

.nav-pills {
  margin-top: 20px;
}
